/* MY TEMPLATE RESET */
* {
	/* Outline to view layout on screen while styling | Remove after styling */
	/* outline: 1px dashed #ff0075; */
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}
html {
	box-sizing: border-box;
	font-size: 100%;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

/* color variables */
:root {
	--beige: #fef5ed;
	--dark-purple: #150050;
	--baby-blue: #e0ffff;
	--grayish-light-green: #acd1af;
	--light-purple: #af8fe9;
}

/* body styles */
body {
	font-family: "Quicksand", sans-serif;
	background-color: var(--beige);
	width: 100%;
	max-width: 100em;
	margin: 0 auto;
}

/* back to the top button */
#top-button {
	display: none;
	position: fixed;
	bottom: 1.5em;
	right: 1.5em;
	z-index: 2;
	font-size: 2rem;
	border: none;
	outline: none;
	background-color: var(--dark-purple);
	color: var(--baby-blue);
	cursor: pointer;
	padding: 0.5em;
	border-radius: 0.25em;
}
#top-button:hover {
	color: var(--dark-purple);
	background-color: var(--baby-blue);
}

/* PARALLAX */
/* first parallax section */
.parallax-img-1 {
	background: url(https://images.unsplash.com/photo-1591161555818-7b9debeccc07?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2070&q=80)
		no-repeat fixed 100%;
	background-size: cover;
	color: var(--baby-blue);
}
/* second parallax section */
.parallax-img-2 {
	background: url(https://images.unsplash.com/photo-1490730141103-6cac27aaab94?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2070&q=80)
		no-repeat fixed 100%;
	background-size: cover;
	color: var(--grayish-light-green);
}
/* third parallax section */
.parallax-img-3 {
	background: url(https://images.unsplash.com/photo-1581588525251-e1dca48e9827?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2070&q=80)
		no-repeat fixed 100%;
	background-size: cover;
	color: var(--light-purple);
}

/* PARALLAX headings */
.section-heading {
	padding-top: 25%;
	padding-bottom: 25%;
}
h1 {
	font-size: 10em;
	text-align: center;
}
h2 {
	color: var(--dark-purple);
	margin: 2em 3.25em 2em 3.25em;
	line-height: 1.5;
}

/* FOOTER */
footer {
	margin: 1em 1em;
	padding: 1em 0;
}
.footer-flex {
	display: flex;
	justify-content: center;
	flex-direction: column;
	line-height: 1.5;
}

/* laptop styles */
/* max-width 64em (1024px) */
@media (max-width: 64em) {
	/* back to the top button */
	#top-button {
		bottom: 1em;
		right: 1em;
	}

	/* PARALLAX headings */
	h2 {
		margin: 2em;
	}
}

/* tablet styles */
/* max-width 48em (768px) */
@media (max-width: 48em) {
	/* back to the top button */
	#top-button {
		bottom: 0.75em;
		right: 0.75em;
	}
	/* PARALLAX headings */
	h2 {
		margin: 1.5em;
	}
}

/* mobile styles */
/* max-width 26.5625em (425px) */
/* turn off parallax scrolling for mobile */
@media (max-width: 26.5625em) {
	/* back to the top button */
	#top-button {
		bottom: 0.5em;
		right: 0.5em;
	}
	/* PARALLAX */
	/* first parallax section */
	.parallax-img-1,
	/* second parallax section */
	.parallax-img-2,
	/* third parallax section */
	.parallax-img-3 {
		background-attachment: scroll;
	}
	/* PARALLAX headings */
	h1 {
		font-size: 6em;
	}
	h2 {
		margin: 1em;
	}
}
